src/main/mule/akhil2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="akhil2Flow" doc:id="e093a287-34d4-455a-a9b7-5819ee478796" >
		<logger level="INFO" doc:name="Logger" doc:id="ebe3513e-3399-4f39-92a4-54d60e33336d" message="#[payload]"/>
	</flow>
</mule>
