src/main/mule/akhil_sample_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="akhil_sample_apiFlow" doc:id="23f2310e-ce23-447a-84bc-8bb78937dd12" >
		<logger level="INFO" doc:name="Logger" doc:id="6c540a92-d6e7-4ed5-a73d-e89a2b1b0d0f" message="#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="cb16142a-630e-494b-94c8-8feb14ca553f" />
		<ee:transform doc:name="Transform Message" doc:id="6fb0994a-31bf-4ef9-b2a2-173968adfdb8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
